* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  align-items: baseline;

  input,
  select {
    padding: 4px;
    justify-self: end;
    width: 100%;
  }

  .description {
    grid-column: span 2;
    width: 100%;
    font-size: small;
  }
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .header {
    padding: 8px;
    border-bottom: 1px solid;

    .inputs {
      display: inline-flex;
      gap: 8px;
    }
  }

  .main {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    .column {
      padding: 8px;
      border: 1px solid;
    }
  }

  .footer {
    padding: 4px;
    position: sticky;
    bottom: 0;
    background-color: white;
    border-top: 1px solid;
    .inputs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
    }
  }
}
