* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

label {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  align-items: baseline;
  .description {
    width: 100%;
    font-size: small;
  }
}

.header {
  padding: 8px;
  .inputs {
    display: flex;
    gap: 8px;
    .last {
      margin-left: auto;
    }
  }
}

.main {
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;

  .column {
    padding: 8px;
    border: 1px solid;
  }
}

.footer {
  padding: 4px;
  position: sticky;
  bottom: 0;
  background-color: white;
  border-top: 1px solid;
}
